
	

.flex-column-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start; 
    align-items: center;
	align-content: center;
}

.flex-row-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center;
	align-content: center;
}

.flex-item {
    flex-grow: 1;
    flex-shrink: 1; 
    align-self: center;
}

.header-row{
    background-color: #0b557a;
    
}

.cell-element{
    text-align: center;
    width: 25%;
}

.textAlignCenter{
text-align: center;
}

.text-block{
	font-size: 30px ;
	font-family: Arial, Helvetica, sans-serif;	
	color: white;
}

.product-item {
 height:60px;
 display: flex;
 align-items: center;
 border-bottom-style: solid;
 border-bottom-width: 2px;
 border-bottom-color:white;
}

.lightBlueBG
{
    background-color: #4184a5;
}

.paleBlackTextColor
{
color:#000;
}

.show-more{
    text-align: center;
    height: 100px;
    background-color:#FFF;
}

.show-more button{
    height: 50px;
    width: 120px;
    background-color: #dceaf1;
    border-color: #dceaf1;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px ;
	font-family: Arial, Helvetica, sans-serif;	
    font-weight: bold;
    margin-top: 20px;
}

.user-name{
	font-size: 17px ;
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold;
}
.tweet-text{

}
.tweet-created{
	font-style: italic;
	font-size: 12px ;
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold;

}

.flex-column-container-start{
    display: flex;
    flex-direction: column;
    justify-content:flex-start; 

}

.flex-row-container-start{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
}

.tweet-item{
	margin-top: 10px;
	min-height: 100px;
    align-self: start;
}

.tweets-container{
	overflow-y:scroll;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}